.section-poems
	position: relative

.poem-belt
	width: 100%
	position: relative

	.poem-unit
		max-width: 650px
		margin: 50px auto
		position: relative
		text-align: center
		display: none
		z-index: 1

		&.active-poem
			display: flex
			flex-direction: column

		.poem-title
			font-size: 18px
			color: #999

		.poem-content
			position: relative
			font-size: 14px

.poem-controls
	+position(absolute, 0px 0px 0px 0px)

	> div
		cursor: pointer
	.poem-next
		+position(absolute, 50% 10px null null)

	.poem-prev
		+position(absolute, 50% null null 10px)

.poem-nav-mobile
	position: relative
	margin-bottom: 20px
	text-align: center
	z-index: 2
	
	span
		+size(15px)
		margin: 0px 15px
		display: inline-block
		border-radius: 50%
		border: 2px solid #e5eaee
		cursor: pointer

		&.active-poem
			border-color: green

@media (max-width: 750px)
	
	.poem-belt
		overflow-x: hidden

		.poem-unit .active-poem
			display: block
			position: relative

			.poem-title
				font-size: 14px

			.poem-content
				max-width: 500px
				font-size: 7px
				margin: 0 auto

	.poem-nav-mobile
		display: block

	.poem-controls
		display: none