<pre>
Try as you may kind soldier, you will never grasp that ever elusive chalice
Your heart beats with passion, but it will never achieve ascension.
Forever beating, beating alone, longing to be warmed by another.
Its strength is great, but never enough.
Let it burst from love, let it be caged forever alone.
March until you fall as you always will.
Search for goodness and fall within darkness.
Reach out for the hand that does not reach out for you.
Fight until your armor breaks,
Fight until your sword shatters,
Fight until you bleed, but it shall never matter.
Drag yourself across mountains and great lakes.
Wherever you tread, you shall find no solace.

Before you all is dust.
But yet you continue because you must.
You fight not for mere lust.
You search forever for a love that you can trust.

Continue wayward soldier, I shall not beseech you to stop.
Hold tight to that dwindling flame and never let it drop.
Some flames can brave the rage of a hurricane.
Some flames can light the darkest corners and keep you sane.

March on broken soldier, 
Beyond the precipice I see your chalice. 
If your will is that of fire, you will overcome that precipice and escape your cage.
You will find warmth, for your flame has already reignited the ashes of my soul.
</pre>