<p>
Madness lies in every corner,
Helpless as the wraith unleashes its scorn.
It bites until it leaves the mind torn.
The teeth tear into your mind like a beast into its prey,
Fall upward as the world rises into pandemonium.
Never knowing what is real,
Drink it away as the layers of your mind peel.
Sheets of hope, love, and courage turn to dust.
You make me crumble from the inside out as I turn to rust.

Madness, you tear at my mind,
Corrupt my dreams and drink my blood,
There is nowhere to hide.
I am lost in time's tide, simply along for the ride.
Run as I may, but you follow
I have nothing left but tomorrow
You make my mind go numb as I revel in your sick fancies
A hundred times I die and awaken
Your hands wrap around my mind and squeeze.
Do you seek the juices of my ideals?
They are lost, perverted by your touch long ago.
When will you let me be?
Scratching against my skull,
There is no use in hiding from the wraith of madness.
Scratching against my skull,
Screaming in the night,
Never may I sleep.
A monster I cannot fight,
Your claws I can feel,
But is it even real?
You kill me every night and yet I awake.
Run as I may, but you follow
I run so I may reach tomorrow

Screaming in the night,
Never may I sleep.
Just let me die.
Nowhere to hide when madness descends.
</p>