<p>
	Leaping, and galloping into the dark like an innocent deer,

	Awakening a long lost nightmare and primordial fear.

	Watched by the eyes of wolves,

	Eyes glowing red with hunger.

	A fire that burns away the pure daisy and the tainted all the same.

	Licking their lips, delighting in the blood to be shed.

	The beasts are all but tame.

	The lust overtakes and all turns red.

	A hunger for brutality, a desire for murder.

	Chains cannot bind the rushing river of disorder.

	Rose pedals dance with the wind as serenity is burned down.

	The wolves are fed,

	Do they even care the deer is dead? 
</p>