<pre>
Life is filled with twists and turns, making us fall.
When you fall, it is so you may learn to stand even if you feel small.
Dust yourself off and stand once more.
Life's Beauties will always heal you when you feel sore.

Feel the breeze and smile, for nothing else is as pure.
The scent of lilies and the mountain's fresh air is the battered soul's cure.
Let nature heal your scar,
Let the rain wash away all that tar,
The tar that blackens your heart with hate,
Turn over a new leaf, it's never too late.

Look up at the heavens above.
We are all free in that grand blue sky.
So smile and do not cry,
Life's beauties will never die.
And nor will I.
</pre>